* { margin: 0; padding: 0; box-sizing: border-box; }
body {
    font-family: 'Poppins', sans-serif;  
    background: linear-gradient(to right, #2a5298, #1e3c72);
    background-color: #1e3c72; color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.container {
  width: 90%;
  max-width: 400px;
  margin: 100px auto;
  text-align: center;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #f1f1f1;
}

input, select {
  padding: 10px;
  border-radius: 8px;
  border: none;
   margin: 8px; 
}

button {
  background-color: #3498db;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
}

button:hover {
  background-color: #45a049;
  cursor: pointer;
}

.container {
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  background-color: rgba(255,255,255,0.1);
  border-radius: 16px;
  padding: 30px;
}

#resultado {
  margin-top: 15px;
  font-weight: bold;
  font-size: 1.2em;
  color: #f1f1f1;
}


